
<title>School Management System</title>
@{ Layout = null;}
<head>
    <meta charset="UTF-8" name="viewport" content="width-device=width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700%7CZilla+Slab:300,400,500,700,700i%7CGloria+Hallelujah">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>



    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>

    <style>
        body {
            font-family: Calisto MT;
            margin: 0;
        }

        table {
            font-family: Calisto MT, sans-serif;
            border-collapse: collapse;
            width: 70%;
        }

        td, th {
            border: 1px solid #F0E68C;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #FAFAD2;
        }

        /* Style the top navigation bar */
        .navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Calisto MT;
        }

        #cmb {
            text-align: center;
            height: 40px;
            width: 240px;
            border: 1px solid transparent;
            border-color: black;
        }

        .navbar a {
            float: right;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 17px;
            text-decoration: none;
        }


        input {
            border: none;
            box-sizing: border-box;
            border-bottom: 1px solid black;
            background: transparent;
            color: #b18757;
            font-weight: bold;
            font-family: 'Poppins';
            font-size: 20px;
        }

        .submit {
            width: 130px;
            border-radius: 25px;
            -moz-border-radius: 25px;
            -webkit-border-radius: 25px;
            text-transform: uppercase;
            font-size: 13px;
            cursor: pointer;
        }

        .submit-link {
            border: 2px solid #b18757;
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;
            padding: 12px 0;
            text-align: center;
        }

            .submit-link:hover {
                background: #FAFAD2;
                color: #b18757;
            }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        b {
            color: #ECCF3E;
            font-size: 19px;
        }
    </style>
</head>

<meta charset="UTF-8" name="viewport" content="width-device=width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
<meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700%7CZilla+Slab:300,400,500,700,700i%7CGloria+Hallelujah">
<link rel="stylesheet" href="~/css/bootstrap.css">
<link rel="stylesheet" href="~/css/fonts.css">
<link rel="stylesheet" href="~/css/style.css">
<style>
    .ie-panel {
        display: none;
        background: #212121;
        padding: 10px 0;
        box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
        clear: both;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
        display: block;
    }
</style>



<style>
    .ie-panel {
        display: none;
        background: #212121;
        padding: 10px 0;
        box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
        clear: both;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
        display: block;
    }
</style>

<style>
    body {
        font-family: Calisto MT;
        margin: 0;
    }

    table {
        font-family: Calisto MT, sans-serif;
        border-collapse: collapse;
        width: 70%;
    }

    td, th {
        border: 1px solid #F0E68C;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #FAFAD2;
    }

    /* Style the top navigation bar */
    .navbar {
        overflow: hidden;
        background-color: #333;
        font-family: Calisto MT;
    }

    #cmb {
        text-align: center;
        height: 40px;
        width: 240px;
        border: 1px solid transparent;
        border-color: black;
    }

    .navbar a {
        float: right;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 17px;
        text-decoration: none;
    }


    input {
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        background: transparent;
        color: #b18757;
        font-weight: bold;
        font-family: 'Poppins';
        font-size: 20px;
    }

    .submit {
        width: 130px;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer;
    }

    .submit-link {
        border: 2px solid #b18757;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        padding: 12px 0;
        text-align: center;
    }

        .submit-link:hover {
            background: #FAFAD2;
            color: #b18757;
        }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    b {
        color: #ECCF3E;
        font-size: 19px;
    }
</style>
</head>

<body>
    <div class="navbar">
        <div class="dropdown">

            <div class="dropdown-content">
                <a href="PersonalInformation.html">My Account</a>
                <a href="">Logout</a>
            </div>
        </div>
    </div>

    @{
        var Tid = Request.Url.Segments[3];
    }
    <h2 style="color  :#b18757; font-family : Calisto MT">&emsp; &emsp; Welcome to ABC School System </h2>
    <br>
    <h3 style="color  :#ECCF3E; font-family : Calisto MT">
        &emsp; &emsp;&emsp; &emsp; &emsp; &emsp; My Profile
    </h3>
    &emsp; &emsp; @Html.ActionLink("My Sections", "TeacherSections", new { id = Tid })
    &emsp; &emsp; @Html.ActionLink("Uploaded Results", "UploadedRes", new { id = Tid})
    @Html.ActionLink("Upload Attendance", "MarkAttendance", new { id = Tid })



    <br><br><br><br>

</body>


